# Base URL
# e.g. http://localhost:5137
VITE_API_BASE_URL=

# MSW 환경 여부
# e.g. true | false
VITE_MSW_ENABLED=
# mock-all | auth-only | network-first
VITE_MSW_MODE=mock-all

# Kakao OAuth
VITE_KAKAO_REST_API_KEY=
VITE_KAKAO_REDIRECT_URI=http://localhost:5173/oauth/kakao
